.CreateTodoButton{
    background-color: aqua;
    width: 56px;
    height: 56px;
    border: none;
    color: white;
    font-size: 48px;
    font-weight: 700;
    border-radius: 40px;
    position :absolute;
    right: 0;
    bottom: 0;
    margin: 24px;
    cursor: pointer;
    transition: 500ms ease;
}

.CreateTodoButton:hover{
    transform: rotate(225deg);
}