.TodoSearch{
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: auto;
}

.TodoSearch input{
    background: #F9FBFC;
    border-radius: 2px;
    border: 2px solid #202329;
    height: 56px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #1E1E1F;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.1);
  }
  
  .TodoSearch input::placeholder {
    color: #A5A5A5;
    font-family: 'Montserrat';
    font-weight: 400;
  }
  
  .TodoSearch input:focus {
    outline-color: #7e7e7e;
  }